<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.emerge.TMobile.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/tmobile/greet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>uploadVisServlet</servlet-name>
    <servlet-class>com.emerge.TMobile.server.servlets.UploadVisFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadVisServlet</servlet-name>
    <url-pattern>/tmobile/uploadVisServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>uploadVrhServlet</servlet-name>
    <servlet-class>com.emerge.TMobile.server.servlets.UploadVrhFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadVrhServlet</servlet-name>
    <url-pattern>/tmobile/uploadVrhServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TMobile.html</welcome-file>
  </welcome-file-list>

</web-app>
